<script>
    import {onMount} from "svelte";
    import {EditorState} from "@codemirror/state"
    import {EditorView, lineNumbers} from "@codemirror/view"

    import {files, currentFile, activeFix, currentFix, diagnoses, fingerprints} from "./store.ts";
    import {typeHintPlugin, dispatchChanges} from "./typeHintPlugin.ts";
    let editorElement, editorView = null
    let createState = (doc) => EditorState.create({
        doc, extensions: [
            typeHintPlugin,
            lineNumbers(),
            EditorView.updateListener.of((viewUpdate) => {
                if (viewUpdate.docChanged) {
                    fingerprints.set([])
                    currentFix.set([null, null])
                    files.update(fs => {
                        return fs.map(({moduleName, moduleCode}) => {
                            if (moduleName === $currentFile) {
                                return {moduleName, moduleCode: viewUpdate.state.doc.toString()}
                            } else {
                                return {moduleName, moduleCode}
                            }
                        })
                    })
                }
                if (viewUpdate.focusChanged && viewUpdate.view.hasFocus) {
                    dispatchChanges(viewUpdate.view, [])
                }

            })

        ]
    })


    let documents = new Map()

    onMount(() => {
        editorView = new EditorView({
            state: createState(""),
            parent: editorElement
        })
    });

    files.subscribe((fs) => {
        for (let f of fs) {
            if (!Array.from(documents.keys()).includes[f.moduleName]) {
                documents.set(f.moduleName, createState(f.moduleCode))
            }
        }
    })

    $: if ($currentFile && editorView) {
        editorView.setState(documents.get($currentFile))
    } else if (editorView) {
        editorView.setState(createState(""))
    }

    $: {
        if ($currentFix[0] !== null && $currentFix[1] !== null) {
            let [errorId, fixId] = $currentFix

            let typeHints = Object.entries($fingerprints[errorId][fixId].locations)
                .map(([nodeId, meta]) => {
                    return [...meta.location, meta.type, meta.content, meta.is_fix]
                }).filter(loc => loc[2] === $currentFile)

            dispatchChanges(editorView, typeHints)
        } else {
            dispatchChanges(editorView, [])
        }
    }


</script>
<style>
    :global(.cm-editor) {
        height: 100%;
        background-color: white;
    }
    :global(.cm-editor.cm-focused) {
        outline: none;
    }
    :global(.cm-content) {
        font-family: 'Roboto Mono', monospace;
        font-size: 16px;
        line-height: 32px;
    }
    :global(.cm-gutter) {
        line-height: 32px;
    }
    :global(.cm-line) {
        position: relative;
        height: 32px;
    }

    :global(.cm-line:has(.cm-type-hint)) {
        top: -5px;
    }

    :global(.cm-type-hint) {
        height: 32px;
        cursor: pointer;
        vertical-align: text-bottom;

    }

    :global(.cm-type-hint .original) {
        flex-grow: 1;
        display: block;
        font-family: 'Roboto Mono', monospace;
        border-radius: 3px;
        height: 18px;
        line-height: 18px;
        text-decoration-color: black;
    }

    :global(.cm-type-hint .type) {
        display: block;
        line-height: 10px;
        font-size: 8px;
        font-family: 'Victor Mono', monospace;
        background-color: #ececec;
        padding: 2px 1px;
        border-radius: 1px;
    }

    :global(.cm-typehint-original) {
        position: absolute;
        opacity: 0;
    }


</style>

<div bind:this={editorElement} class="w-full absolute inset-0"></div>