<script>
    import {files, currentFile} from './store.ts'
    import {joinProjectFile} from "./defultHsProject.js";
    import Delete from "./symbols/Delete.svelte";
    import Cancel from "./symbols/Cancel.svelte";
    import Check from "./symbols/Check.svelte";
    import NewFile from "./symbols/NewFile.svelte";
    import File from "./symbols/File.svelte";

    let newFileName = ""
    let creationMode = false
    let fileNameValid = true
    const createFile = (name) => {
        if ($files.some(f => f.moduleName + '.hs' === name)) {
            fileNameValid = false;
            return
        }
        if (!name.endsWith('.hs')) {
            fileNameValid = false;
            return
        }

        let moduleName = name.split('.')[0]
        files.update(f => [...f, {moduleName: moduleName, moduleCode: ""}])
        creationMode = false
        let projectFile = joinProjectFile($files);
        localStorage.setItem('projectFile', projectFile);
        newFileName = ''
    }

    const deleteFile = (name) => {
        files.update(fs => fs.filter(f => f.moduleName !== name))
        if ($currentFile === name) {
            currentFile.set(null)
        }
        let projectFile = joinProjectFile($files);
        localStorage.setItem('projectFile', projectFile);
    }
</script>

<div class=" p-3 flex flex-col items-stretch w-full gap-y-3">
    {#each $files.map(f => f.moduleName).sort() as file}
        {#if $currentFile === file}
            <button class="px-2 py-1 bg-stone-200 rounded-md cursor-pointer w-full text-left flex justify-between">
                <span class="flex items-center gap-x-1">
                    <File class="w-6 h-6 text-stone-500"></File>
                    <span>{file}.hs</span>
                </span>

                <span class="w-16"></span>
                <button on:click={() => deleteFile(file)}>
                    <Delete width="24px" height="24px"></Delete>
                </button>
            </button>
        {:else}
            <button class="px-2 py-1 cursor-pointer w-full text-left flex justify-between"
                    on:click={() => currentFile.set(file)}>
                <span class="flex items-center gap-x-1">
                    <File class="w-6 h-6 text-stone-400"></File>
                    <span>{file}.hs</span>
                </span>
                <span class="w-16"></span>
                <button on:click={() => deleteFile(file)}>
                    <Delete width="24px" height="24px"></Delete>
                </button>
            </button>
        {/if}

    {/each}
    {#if !creationMode}
        <button class=" px-3 py-1 rounded-md bg-blue-400 text-white w-full cursor-pointer flex justify-center"
                on:click={_ => creationMode = true}>
            <NewFile width="24px" height="24px"></NewFile>
        </button>
    {:else}
        {#if fileNameValid}
            <input type="text" class="py-1 px-2 rounded-md w-full border-2 border-blue-200" bind:value={newFileName}>
        {:else}
            <input type="text" class="py-1 px-2 rounded-md w-full  border-2 border-red-400" bind:value={newFileName}>
        {/if}
        <div class="flex w-full gap-x-2">
            <button class="px-3 py-1 rounded-md bg-blue-400 text-white cursor-pointer flex-grow flex justify-center"
                    on:click={() => createFile(newFileName)}>
                <Check width="24px" height="24px"></Check>
            </button>
            <button class="px-3 py-1 rounded-md bg-stone-400 text-white cursor-pointer flex-grow flex justify-center"
                    on:click={() => {creationMode = false; newFileName = ''}}>
                <Cancel width="24px" height="24px"></Cancel>
            </button>
        </div>
    {/if}
</div>