<script>
    import Editor from './Editor.svelte';
    import Explorer from "./Explorer.svelte";
    import {files, currentFix, parseTree, prologFiles, diagnoses, fingerprints} from "./store.ts";
    import {joinProjectFile} from "./defultHsProject.js";
    import ParseTree from "./views/ParseTree.svelte";
    import Prolog from "./views/Prolog.svelte";
    import Debug from "./views/Debug.svelte";
    import Loading from "./views/Loading.svelte";

    let modes = {Parse: "Parse", TypeCheck: "TypeCheck", Prolog: "GenerateProlog", Loading: "Loading"}
    let mode = modes.TypeCheck
    let error = null;
    let server_url = import.meta.env.PROD ? "https://goanna.fly.dev" : "http://localhost:8000"
    let handleError = (result) => {
        if (result.error) {
            error = result.error;
            return true;
        } else {
            error = null;
            return false
        }
    }
    let parseOnly = () => {
        error = null
        mode = modes.Loading
        let projectFile = joinProjectFile($files);
        localStorage.setItem('projectFile', projectFile);
        fetch(server_url + '/parse', {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: projectFile
        })
            .then(res => res.json())
            .then(res => {
                if (handleError(res)) return
                parseTree.set(res)
                mode = modes.Parse;

            });
    }
    let typeCheck = () => {
        error = null
        mode = modes.Loading
        let projectFile = joinProjectFile($files);
        localStorage.setItem('projectFile', projectFile);
        fetch(server_url + '/typecheck', {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: projectFile
        })
            .then(res => res.json())
            .then(res => {
                if (handleError(res)) return
                if (res.fingerprints[0] && res.fingerprints.length === 0) {
                    error = "Goanna's type inference engine encountered an error. Please let me know."
                }
                fingerprints.set(res.fingerprints)
                if (res.fingerprints.length) {
                    currentFix.set([0, 0])
                } else {
                    currentFix.set([null, null])
                }
                mode = modes.TypeCheck

            });
    }

    let genProlog = () => {
        error = null
        mode = modes.Loading
        let projectFile = joinProjectFile($files);
        localStorage.setItem('projectFile', projectFile);

        fetch(server_url + '/prolog', {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: projectFile
        })
        .then(res => res.json())
        .then(res => {
            if (handleError(res)) return
            let script = res.script
            let goal = res.goal
            prologFiles.set([script, goal])
            mode = modes.Prolog
        });
    }


</script>
<main class="flex flex-col h-full">
    <nav class="p-1 flex items-center gap-2 bg-stone-100 text-stone-700">
        <button class="bg-blue-400 rounded-md text-white font-bold py-1 px-2 " on:click={typeCheck}>TYPE CHECK</button>
        <button class="  py-1 px-2 " on:click={parseOnly}>Parse Syntax</button>
        <button class="  py-1 px-2 " on:click={genProlog}>Generate Prolog</button>
    </nav>
    <div class="w-full h-full flex ">
        <div class="border-r-4 border-gray-200">
            <Explorer/>
        </div>
        <div class="flex-grow w-1/2 relative">
            <Editor/>
        </div>
        <div class="w-1/4 relative border-l-4 border-gray-200">
            {#if error !== null}
                <div class="bg-red-500 text-white p-2">
                    {error}
                </div>
            {:else if mode === modes.Loading}
                <Loading />
            {:else if mode === modes.Parse}
                <ParseTree asts={$parseTree.asts}/>
            {:else if mode === modes.Prolog }
                <Prolog />
            {:else if mode === modes.TypeCheck}
                <Debug />
            {/if}
        </div>
    </div>
</main>

<style>
    :global(body, html, #app) {
        height: 100%;
    }


</style>