<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" {...$$props}>
    <g fill="currentColor">
        <path fill-rule="evenodd"
              d="M19 11.938V15a7.001 7.001 0 0 1-6.25 6.96V15a.75.75 0 0 0-1.5 0v6.96A7.001 7.001 0 0 1 5 15v-3.063A3.939 3.939 0 0 1 8.938 8h6.124A3.939 3.939 0 0 1 19 11.938Z"
              clip-rule="evenodd" opacity=".5"/>
        <path d="M19 14.75v-1.5h3a.75.75 0 0 1 0 1.5h-3Zm-1.505 4.586c.311-.393.58-.82.802-1.276l2.538 1.27a.75.75 0 1 1-.67 1.34l-2.67-1.334ZM5.703 18.06c.221.455.49.883.801 1.276l-2.669 1.335a.75.75 0 0 1-.67-1.342l2.538-1.269ZM5 13.25H2a.75.75 0 0 0 0 1.5h3v-1.5Zm12.354-4.515l2.81-1.406a.75.75 0 1 1 .671 1.341L18.42 9.88a3.958 3.958 0 0 0-1.066-1.144Zm-10.707 0c-.427.306-.79.695-1.067 1.144L3.165 8.67a.75.75 0 0 1 .67-1.341l2.812 1.406ZM16.5 8.27V7.5a4.5 4.5 0 1 0-9 0v.77A3.94 3.94 0 0 1 8.938 8h6.124c.508 0 .993.096 1.438.27Z"/>
        <path d="M6.376 1.584a.75.75 0 0 0 .208 1.04l2.36 1.573a4.502 4.502 0 0 1 1.387-.877L7.416 1.376a.75.75 0 0 0-1.04.208Zm8.68 2.613a4.502 4.502 0 0 0-1.387-.877l2.915-1.944a.75.75 0 1 1 .832 1.248l-2.36 1.573Z"
              opacity=".5"/>
        <path fill-rule="evenodd" d="M12 14.25a.75.75 0 0 1 .75.75v7h-1.5v-7a.75.75 0 0 1 .75-.75Z"
              clip-rule="evenodd"/>
    </g>
</svg>