<script>
    import {currentFile, currentFix, fingerprints} from "../store.ts";
    import Info from '../symbols/Info.svelte'
    import Left from '../symbols/Left.svelte'
    import Right from '../symbols/Right.svelte'
    import RightTriangle from "../symbols/RightTriangle.svelte";
    import Target from "../symbols/Target.svelte";
    import Star from "../symbols/Star.svelte";

    let currentFingerbrint;
    let hasValidFix = false
    $: hasValidFix = $currentFix[0] !== null && $currentFix[1] !== null;
    $: currentError = hasValidFix ? $fingerprints[$currentFix[0]] : null;
    $: currentFingerbrint = hasValidFix ? $fingerprints[$currentFix[0]][$currentFix[1]] : null;
    const syncFile = () => {
        if (hasValidFix) {
            const fix = currentError[$currentFix[1]]
            for (let location of Object.values(fix.locations)) {
                if (location.is_fix) {
                    let moduleName = location.location[2]
                    currentFile.set(moduleName)
                    return
                }
            }
        }
    }
    const selectFix = n => {
        if (currentError) {
            for (let fixId in currentError) {
                let fix = currentError[fixId]
                for (let location in fix.locations) {
                    if (location === n && fix.locations[location].is_fix) {
                        currentFix.set([$currentFix[0], parseInt(fixId, 10)])
                    }
                }
            }
            syncFile()
        }
    }


</script>

<div class="p-4 flex flex-col justify-stretch h-full">
    {#if $fingerprints.length === 0}
        <div class="text-center">No errors found</div>
    {:else if $fingerprints.length === 1}
        <div class="text-center"></div>
    {:else}
        <div class="flex w-full gap-x-3">
            {#each $fingerprints as error, errorId}
                {#if errorId === $currentFix[0]}
                    <button class="rounded-t-lg bg-blue-400 text-white p-2 w-full text-center">
                        Error {errorId + 1}</button>

                {:else}
                    <button on:click={_ => currentFix.set([errorId, 0])}
                            class="rounded-t-lg bg-stone-100 p-2 w-full text-center">Error {errorId + 1} </button>
                {/if}

            {/each}
        </div>
    {/if}

    {#if currentError}
        <div class={"bg-blue-400 flex flex-col gap-y-2 p-2 " + ($fingerprints.length === 1 ? 'rounded-md' : 'rounded-b-md')}>
            <div class="flex gap-2 justify-between my-2">
                {#each currentError as fix, fixId}
                    {#if fixId === $currentFix[1]}
                        <button class="bg-white h-2 block w-full rounded-full">
                        </button>
                    {:else}
                        <button class="bg-blue-300 h-2 block w-full rounded-full"
                                on:click={_ => {currentFix.set([$currentFix[0], fixId]) ; syncFile()}}
                        >
                        </button>
                    {/if}
                {/each}
            </div>
            <div class="flex justify-between items-center">
                <button on:click={_ => {
                    currentFix.update(([e, f])=> {
                    if (f === 0) {
                        return [e, f]
                    } else {
                        return [e, f - 1]
                    }

                });
                syncFile()
                }}>
                    <Left class="w-10 h-10 text-stone-100"></Left>
                </button>
                <div class="text-center text-lg font-bold text-white">Possible Fix {$currentFix[1] + 1}
                    / {currentError.length}</div>
                <button on:click={_ => currentFix.update(([e, f]) => {
                    if (f === currentError.length - 1) {
                        return [e, f]
                    } else {
                        return [e, f + 1]
                    }
                } )}>
                    <Right class="w-10 h-10 text-stone-100"></Right>
                </button>
            </div>
        </div>
    {/if}


    {#if currentFingerbrint}
        <div class="mt-2 py-2 px-1 font-bold text-stone-500">ERROR LOCATOR</div>
        <div class="h-full flex-grow relative">
            <div class="flex gap-2 flex-col  absolute inset-0 overflow-auto">
                {#each Object.entries(currentFingerbrint.heads) as [head, isFix]}
                    <div class={"rounded-md px-2 pt-1 pb-2 " + (isFix ? 'bg-stone-200  shadow-md' : 'bg-stone-100')}>
                        {#if isFix}
                            <div class="flex gap-1 py-1 px-2  items-center rounded-t-md  ">
                                <div class="  py-0.5 rounded-sm text-gray-500">{head.split('.')[0]}.hs</div>
                                <RightTriangle class="text-gray-400"></RightTriangle>
                                <div class="  py-0.5 rounded-sm font-bold text-gray-700">{head.split('.')[1]}</div>
                            </div>
                        {:else}
                            <div class="flex gap-1 py-1 px-2 items-center rounded-t-md  ">
                                <div class=" py-0.5 rounded-sm text-gray-500"> {head.split('.')[0]}.hs</div>
                                <RightTriangle class="text-gray-400"></RightTriangle>
                                <div class=" py-0.5 rounded-sm font-bold text-gray-700">{head.split('.')[1]}</div>
                            </div>
                        {/if}

                        <div class="flex gap-y-1 flex-col">
                            {#each Object.entries(currentFingerbrint.locations) as [nodeId, nodeMeta]}
                                {#if nodeMeta.head === head}
                                    {#if nodeMeta.is_fix}
                                        <div class="flex gap-x-2 rounded-md items-center bg-white mx-2 my-0.5 cursor-pointer shadow-md">
                                            <div class="bg-red-600 p-1 rounded-l-md">
                                                <Target width="24px" height="24px" class="text-red-100"></Target>
                                            </div>
                                            <span class="w-full flex justify-between items-center px-2">
                                                <span>{nodeMeta.content}</span>
                                                   <span class="flex">

                                                    {#if nodeMeta.rank === 1}
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                     {:else if nodeMeta.rank === 2}
                                                    <Star class="text-yellow-400 w-6 h-6"></Star>
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                    {:else if nodeMeta.rank === 3}
                                                    <Star class="text-yellow-400 w-6 h-6"></Star>
                                                    {:else}
                                                     <span></span>
                                                    {/if}
                                                </span>
                                            </span>
                                        </div>
                                    {:else}
                                        <button class="flex gap-x-2 rounded-md items-center bg-white mx-2 my-0.5 cursor-pointer  border-1"
                                                on:click={_ => selectFix(nodeId)}>
                                            <span class="bg-blue-500 p-1 rounded-l-md">
                                                <Info width="24px" height="24px" class="text-blue-100"></Info>
                                            </span>
                                            <span class="w-full flex justify-between items-center px-2">
                                                <span>{nodeMeta.content}</span>
                                                <span class="flex">

                                                    {#if nodeMeta.rank === 1}
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                     {:else if nodeMeta.rank === 2}
                                                    <Star class="text-yellow-400 w-6 h-6"></Star>
                                                        <Star class="text-yellow-400 w-6 h-6"></Star>
                                                    {:else if nodeMeta.rank === 3}
                                                    <Star class="text-yellow-400 w-6 h-6"></Star>
                                                    {:else}
                                                     <span></span>
                                                    {/if}
                                                </span>

                                            </span>
                                        </button>
                                    {/if}

                                {/if}
                            {/each}
                        </div>
                    </div>
                {/each}
            </div>
        </div>
    {/if}
</div>

<style>

</style>