<script>
    import ShufflingBoxes from "../symbols/ShufflingBoxes.svelte";

</script>

<div class="flex justify-center py-8">
    <ShufflingBoxes width="45px" height="45px" class="text-stone-300" />
</div>