<script>
    import Tree from "./Tree.svelte";

    export let asts;

</script>
<div class="absolute inset-0 overflow-scroll">
    <sl-tree>
        <Tree item={asts}></Tree>
    </sl-tree>

</div>


