<script>
        import {prologFiles} from "../store.ts";
        let copy_prolog_file = () => {
            let text = $prologFiles[0]
            navigator.clipboard.writeText(text).then(function() {
                console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
                console.error('Async: Could not copy text: ', err);
            });
        }
</script>
<div class="flex flex-col gap-2 absolute inset-0">
    <div class="flex justify-between px-2">
        Prolog Predicates
        <button class="bg-blue-500 text-white px-2 py-1" on:click={_=> copy_prolog_file()}> Copy </button>
    </div>
    <pre class="overflow-scroll">{$prologFiles[0]}</pre>
</div>

<style>
    pre {
        background-color: white;
        font-size: 10px;
        padding: 4px;
    }
</style>