<script>
    export let item
</script>

{#if typeof item === 'string'}
    <sl-tree-item>{item}</sl-tree-item>
{:else if typeof item === 'number'}
    <sl-tree-item>{item}</sl-tree-item>
{:else if typeof item === 'boolean'}
    <sl-tree-item>{item}</sl-tree-item>
{:else if item === null}
    <sl-tree-item>Empty</sl-tree-item>
{:else if Array.isArray(item)}
    {#each item as i, index}

        <sl-tree-item>
             # {index}
            <svelte:self item={i} />
        </sl-tree-item>
    {/each}
{:else if typeof item === 'object'}
    {#if Object.hasOwn(item, 'id') && Object.hasOwn(item, 'type')}
        <sl-tree-item>{item.type} (id: {item.id})</sl-tree-item>
    {:else if Object.hasOwn(item, 'type')}
        <sl-tree-item>{item.type}</sl-tree-item>
    {:else if Object.hasOwn(item, 'id')}
        <sl-tree-item>(id: {item.id})</sl-tree-item>

    {/if}
     {#each Object.entries(item) as [key, value]}
         {#if key === 'name'}
            <sl-tree-item>
                name: {value}
            </sl-tree-item>
         {:else if key !== 'id' && key !== 'type'}
            <sl-tree-item>
               {key}
                <svelte:self item={value} />
            </sl-tree-item>
        {/if}
      {/each}
{/if}